* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    margin: 100px auto 0;
    border: 1px solid black;
    width: 602px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    float: left;
    font-size: 32px;
    font-weight: bold;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
